<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>heroku test</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
    <header>
    <h1>Create User</h1>
        <!-- <a href="/posts/store">Create User</a> -->
    </header>
    <!-- action tiene el destino de nuestor route handeler -->
    <form action="/user/store" method="POST">
        <label>Name</label>
            <input type="text" name="name">
            <!-- <br> -->
        <label>Lastname</label>
            <input type="text" name="lastname">
        <button type="submit">Send</button>
    </form>
  <script src="js/scripts.js"></script>
</body>
</html>